body {
  padding: 40px;
  background-color: #c6c9cf;
  overflow-x: hidden; /* For Opera */
  -webkit-box-shadow:
    inset #454b57 0 0 0 30px,
    inset #fff 0 0 0 40px;
  -moz-box-shadow:
    inset #454b57 0 0 0 30px,
    inset #fff 0 0 0 40px;
  box-shadow:
    inset #454b57 0 0 0 30px,
    inset #fff 0 0 0 40px;
  font-family: 'Special Elite';
  color: #454b57;
}
a {
  color: #b27268;
  font-weight: bold;
}
a:hover {
  color: #b27268;
  font-weight: bold;
}
h1 {
  font-family: 'Permanent Marker';
  font-size: 70px;
}
.container {
  padding: 15px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.miabackgrounddesktop {
  background-image: url('../img/mia.jpg');
  background-repeat: no-repeat;
  max-width: 100%;
  height: 1100px;
}
.miabackgroundmobile {
  background-image: url('../img/miamobile.jpg');
  background-repeat: no-repeat;
  max-width: 100%;
  height: 1100px;
}
